<header>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <h1>Finaancio</h1>
        <h2>
          Tired of being in the red at the end of the month ?
          Finnancio is a super easy way to calculate is your bank account will be
          negative by the end of the month. It helps you keep track of your monthly
          charges and suggest you when it is the best way to save money.
        </h2>
      </div>
    </div>
  </div>

  <div class="try-now">
    Try now
  </div>
</header>


{{outlet}}
